<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        
        <img src='./img/sus theory.png' class='portrait' alt="couldn't load">

        </div>
        {{>footer}}
    </body>
</html>