<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}} <!-- this is header path we only need to provide path name -->
        
            <h5>Helpful Text: {{helpMe}}</h5>

        </div>

        {{>footer}}
    </body>
</html>